@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --main-color: #002c5a;
    --bg-color:#f0f0ef;
    --accent-color: #c14843;
}
*{
  box-sizing: border-box;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
ul{
  list-style: none;
}
input{
  font-family: "Roboto";
}
button{
  cursor: pointer;
}
img{
  display: block;
  width: 100%;
}
a{
  text-decoration: none;
}